﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ASP.NET MVC and AngularJS Demo | Krishan</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- UIGrid Style Refferences -->
    <link href="~/Content/ui-grid.min.css" rel="stylesheet" />
</head>
<body class="ng-cloak" ng-app="UIGrid_App">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Product App", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET MVC and AngularJS Demo : by <a href="https://twitter.com/kris1rawat">kris1rawat</a>.</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Angular Refferences -->
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-touch.min.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>

    <!-- UIGrid Refferences -->
    <script src="~/Scripts/ui-grid.min.js"></script>

    <!-- Export UIGrid Refferences -->
    <script src="~/Scripts/export-ui-grid/csv.js"></script>
    <script src="~/Scripts/export-ui-grid/pdfmake.js"></script>
    <script src="~/Scripts/export-ui-grid/vfs_fonts.js"></script>

    <!-- App Angular Refferences -->
    <script src="~/ScriptsNg/Modules/UIGrid_App.js"></script>
    @RenderSection("AngularScript", false)
</body>
</html>